header {
        background-color: #FFFFFF;
	background-image: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png");
        background-position: 20px center;
        background-repeat: no-repeat;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}
